<main>

	<form (submit)="createSignIn();" [formGroup]="signInForm" class="form-control-lg" id="signInForm" method="post" name="signInForm" novalidate>
		<div class="info">
			<!-- username -->
			<input class="form-control" formControlName="adminUsername" id="adminUsername" name="username" placeholder=" Username" type="text" />

			<div *ngIf="signInForm.controls.adminUsername?.invalid && signInForm.controls.adminUsername?.touched" class="alert alert-danger">
				<p *ngIf="signInForm.controls.adminUsername?.errors.required">The username or password is incorrect.</p>
			</div>

			<!-- password -->
			<input class="form-control" formControlName="adminPassword" id="adminPassword" name="password" placeholder=" Password" type="text" />

			<div *ngIf="signInForm.controls.adminPassword?.invalid && signInForm.controls.adminPassword?.touched" class="alert alert-danger">
				<p *ngIf="signInForm.controls.adminPassword?.errors.required">The username or password is incorrect.</p>
			</div>
		</div>


			<div class="controls">
				<input class="btn" type="submit" value="Submit" />
			</div>

	</form>

</main>