<div class="container">
	<div class="col-8 mx-auto">

	<form (submit)="eventEntry();" [formGroup]="createEventForm" class="form-control-lg" id="createEventForm" method="post" name="createEventForm" novalidate>

		<h3 class="d-flex justify-content-center panel-title mb-2 mt-2">Create a New Event! 🎶</h3> <hr>

		<div id="event-age-requirement" class="form-group">
			<label for="event-age-requirement" class="control-label">Age Requirement</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventAgeRequirement"
						 name="event-age-requirement" placeholder="Enter the age requirement. (optional)" type="text"/>
			</div>
		</div>

		<div id="event-description" class="form-group required">
			<label for="event-description" class="control-label requiredField">Event Description<span
				class="asteriskField">*</span> </label>
			<div class="controls">
				<input class="input form-control mb-1" formControlName="eventDescription" name="event-description"
						 placeholder="Enter an event description." type="text"/>
			</div>
		</div>

		<div class="form-group required" id="event-date-start-time">
			<label class="control-label requiredField" for="event-date-start-time">Start Date and Start Time<span
				class="asteriskField">*</span> </label>
			<form (submit)="submit()" [formGroup]="dateTimePickerForm"
					class="form-horizontal well"
					name="createUserForm"
					novalidate>
				<div class="controls">
					<div class="form-group">
						<div class="input-group">
							<input #ngbDatepicker="ngbDatepicker" formControlName="date" ngbDatepicker type="text"/>
							<div class="input-group-append">
								<button (click)="ngbDatepicker.toggle()" class="btn btn-outline-secondary calendar"
										  type="button"></button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<ngb-timepicker formControlName="time" size="small"></ngb-timepicker>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div id="event-date-end-time" class="form-group required">
			<label for="event-date-end-time" class="control-label requiredField">End Date and End Time<span
				class="asteriskField">*</span> </label>
			<form (submit)="submit()" [formGroup]="dateTimePickerForm"
					class="form-horizontal well"
					name="createUserForm"
					novalidate>
			<div class="controls">
				<div class="form-group">
					<div class="input-group">
						<ngb-timepicker formControlName="time" size="small"></ngb-timepicker>
					</div>
				</div>
			</div>
			</form>
		</div>


		<div id="event-image" class="form-group required">
			<label for="event-image" class="control-label requiredField">Image<span class="asteriskField">*</span>
			</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventImage" name="event-image"
						 placeholder="www.eventimageurl.com" type="text"/>
			</div>
		</div>

		<div class="form-group" id="event-address">
			<label class="control-label" for="event-address">Full Address</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventAddress" name="event-address"
						 placeholder="Street, City, State, and ZIP Code" type="text"/>
			</div>
		</div>

		<div id="event-price" class="form-group">
			<label for="event-price" class="control-label">Price</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventPrice" name="event-price"
						 placeholder="Enter the price. (optional)" type="text"/>
			</div>
		</div>

		<div id="event-title" class="form-group required">
			<label for="event-title" class="control-label  requiredField">Title<span class="asteriskField">*</span>
			</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventTitle" name="event-title"
						 placeholder="Enter a title." type="text"/>
			</div>
		</div>

		<div id="event-promoter-website" class="form-group">
			<label for="event-promoter-website" class="control-label">Promoter Website</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventPromoterWebsite"
						 name="event-promoter-website" placeholder="www.promoterwebsite.com (optional)" type="text"/>
			</div>
		</div>

		<div id="event-venue" class="form-group">
			<label for="event-venue" class="control-label">Venue</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventVenue" name="event-venue"
						 placeholder="Enter a venue. (optional)" type="text"/>
			</div>
		</div>

		<div id="event-venue-website" class="form-group">
			<label for="event-venue-website" class="control-label">Venue Website</label>
			<div class="controls">
				<input class="input textInput form-control mb-1" formControlName="eventVenueWebsite" name="event-venue-website"
						 placeholder="www.eventvenue.com (optional)" type="text"/>
			</div>
		</div>

		<div class="form-group d-flex justify-content-center">
			<div class="aab controls"></div>
			<div class="controls">
				<input type="submit" name="Submit" value="Submit" class="btn btn-danger btn btn-info" id="submit"/>
			</div>
		</div>

	</form>
	</div>

</div>