html, body {
    background-image: url("../img/ABQ at Night BG.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.genre {
    transform: rotate(90deg);
    left:0;
    right:0;
    top: 10px;
    margin:auto;
    color: red;
}

.venue {
    color: red;
}
+